/* body{
    background-image: url('../imagens/imagemdefundo.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #88a65e;
}

#galeria {
    /* position: relative;
    float: center; */ /*
    margin-top: 100px;
    width: 400px;
    border-radius: 10px;
    border: rgb(0, 0, 0) 3px solid;
    background-color: #88a65e;
    align-items: center;
    justify-self: center;
}

h1{
    text-align: center;
}

#txtBusca2 {
    margin-left: 10px;
    float: left;
    background-color: transparent;
    padding-left: 15px;
    font-size: 18px;
    border: none;
    height: 36px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
}

h3{
    text-align: center;
}

.criar2 {
    width: 100px;
    height: 50px;
    background-color: rgb(52, 55, 177);
    border-radius: 8px;
    border: #8c2318 solid 2px;
    color: #ffffff;
    font-size: 18px;
    align-items: center;
    margin-right: 20px;
    box-shadow: 7.5px 7.5px 15.5px 0px #8c2318;
    justify-content: right;
    margin-left: 37%;
} */

body {
    background-image: url('../imagens/imagemdefundo.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #88a65e;
}

#galeria {
    margin-top: 100px;
    width: 400px;
    border-radius: 10px;
    border: rgb(0, 0, 0) 3px solid;
    background-color: #88a65e;
    align-items: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

#txtBusca2 {
    margin-left: 10px;
    background-color: transparent;
    padding-left: 15px;
    font-size: 18px;
    border: none;
    height: 36px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
}

h3 {
    text-align: center;
}

.criar2 {
    width: 100px;
    height: 50px;
    background-color: rgb(52, 55, 177);
    border-radius: 8px;
    border: #8c2318 solid 2px;
    color: #ffffff;
    font-size: 18px;
    box-shadow: 7.5px 7.5px 15.5px 0px #8c2318;
    margin-bottom: 30px;
}