body {
    font-family: Arial, sans-serif;
    background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/23184019058/92259d82237745276347749099111409.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0079BF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #005999;
}